<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>FPT Schedule</display-name>
    <welcome-file-list>
        <welcome-file>/views/login/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminStudentController</servlet-name>
        <servlet-class>controller.admin.AdminStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.home.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPageController</servlet-name>
        <servlet-class>controller.home.AdminPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountController</servlet-name>
        <servlet-class>controller.admin.AdminAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSlotController</servlet-name>
        <servlet-class>controller.admin.AdminSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDepartmentAndCourseController</servlet-name>
        <servlet-class>controller.admin.AdminDepartmentAndCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminArchitectureController</servlet-name>
        <servlet-class>controller.admin.AdminArchitectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfessorController</servlet-name>
        <servlet-class>controller.admin.AdminProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClassController</servlet-name>
        <servlet-class>controller.admin.AdminClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleStudentHome</servlet-name>
        <servlet-class>controller.home.ScheduleStudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleProfessorHome</servlet-name>
        <servlet-class>controller.home.ScheduleProfessorHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStudentController</servlet-name>
        <url-pattern>/admin_student/update</url-pattern>
        <url-pattern>/admin_student/select</url-pattern>
        <url-pattern>/admin_student/delete</url-pattern>
        <url-pattern>/admin_student/create</url-pattern>
        <url-pattern>/admin_student/sdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountController</servlet-name>
        <url-pattern>/admin_account/select</url-pattern>
        <url-pattern>/admin_account/create</url-pattern>
        <url-pattern>/admin_account/sdelete</url-pattern>
        <url-pattern>/admin_account/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSlotController</servlet-name>
        <url-pattern>/admin_slot/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArchitectureController</servlet-name>
        <url-pattern>/admin_architecture/building</url-pattern>
        <url-pattern>/admin_architecture/buildingDelete</url-pattern>
        <url-pattern>/admin_architecture/roomDelete</url-pattern>
        <url-pattern>/admin_architecture/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfessorController</servlet-name>
        <url-pattern>/admin_professor/sdelete</url-pattern>
        <url-pattern>/admin_professor/delete</url-pattern>
        <url-pattern>/admin_professor/create</url-pattern>
        <url-pattern>/admin_professor/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDepartmentAndCourseController</servlet-name>
        <url-pattern>/admin_course/sdelete</url-pattern>
        <url-pattern>/admin_major/major</url-pattern>
        <url-pattern>/admin_department/sdelete</url-pattern>
        <url-pattern>/admin_course/course</url-pattern>
        <url-pattern>/admin_department/department</url-pattern>
        <url-pattern>/admin_major/sdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPageController</servlet-name>
        <url-pattern>/admin/admin_professor</url-pattern>
        <url-pattern>/admin/admin_slot</url-pattern>
        <url-pattern>/admin/admin_account</url-pattern>
        <url-pattern>/admin/admin_student</url-pattern>
        <url-pattern>/admin/admin_home</url-pattern>
        <url-pattern>/admin/admin_department</url-pattern>
        <url-pattern>/admin/admin_architecture</url-pattern>
        <url-pattern>/admin/admin_class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClassController</servlet-name>
        <url-pattern>/admin_class/studentInClass</url-pattern>
        <url-pattern>/admin_class/sdelete</url-pattern>
        <url-pattern>/admin_class/removeStu</url-pattern>
        <url-pattern>/admin_class/classaction</url-pattern>
        <url-pattern>/admin_class/removeCourse</url-pattern>
        <url-pattern>/admin_class/addCourse</url-pattern>
        <url-pattern>/admin_class/classinfor</url-pattern>
        <url-pattern>/admin_class/addStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleStudentHome</servlet-name>
        <url-pattern>/student/classInfor</url-pattern>
        <url-pattern>/student/scheduleStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleProfessorHome</servlet-name>
        <url-pattern>/professor/attend</url-pattern>
        <url-pattern>/professor/allProfessrSchedule</url-pattern>
        <url-pattern>/professor/professorSchedule</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
